<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>
<body>

    <div class="login-container lista-container">
        <div class="login-card lista-card">
            <div class="page-header">
                <h1>Usuarios</h1>
                <a href="crear-usuario.html" class="btn btn-primary btn-auto btn-a">+ Nuevo usuario</a>
            </div>

            <table class="table-admin">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Identificación</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Ficha</th>
                        <th>Código llavero</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody id="tablaUsuarios">
                </tbody>
            </table>
            
            <div id="contenedorMensajes" class="mensaje-vacio"></div>
        </div>
    </div>

    <script type="module" src="../../assets/js/pages/admin-listado-usuarios.js"></script>
</body>
</html>
