<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entrada</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>

    <nav class="app-header">
        <a  href = "dashboard.html" class="app-title btn-a">Sistema de Ingreso</a>
        <div class="btn-group">
            <a href="login.html" class="btn btn-outline btn-sm btn-a">Login</a>
            <a href="entrada.html" class="btn btn-primary btn-sm btn-a">Entrada</a>
            <a href="salida.html" class="btn btn-outline btn-sm btn-a">Salida</a>
        </div>
    </nav>

    <div class="login-container">
        <div class="login-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Sena_Colombia_logo.svg" alt="SENA Logo" class="login-logo">

            <h1>Registro de Entrada</h1>

            <form id="formEntrada" novalidate>
                <div class="form-group">
                    <label for="codigo_llavero">Código del llavero</label>
                    <input type="text" id="codigo_llavero" name="codigo_llavero" class="form-control" placeholder="Ingrese su código de llavero">
                </div>

                <button type="submit" class="btn btn-primary" id="btnRegistrar">Registrar Entrada</button>
            </form>
        </div>
    </div>

    <script type="module" src="../assets/js/pages/entrada.js"></script>
</body>
</html>
